.neon-btn {
  background: linear-gradient(45deg, #00f2c3, #0099ff, #00f2c3);
  background-size: 200%;
  color: black;
  font-weight: bold;
  border: none;
  transition: 0.5s;
}

/* 2. 마우스를 올렸을 때 (Hover): 배경 위치를 이동 */

.neon-btn:hover {
  background-position: right center;
  color: white;
}

/* 3. 클릭했을 때 (Active): 살짝 작아지는 느낌 */

.neon-btn:active {
  transform: scale(0.88);
}

/* ====================================================== */

.transparent-btn {
  background: linear-gradient(45deg, #00f2c3, #0099ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

/* ====================================================== */

/* 처음 상태: 꽤 흐릿하게 설정 (픽셀 값은 조절 가능) */

.scroll-blur-img {
  filter: blur(20px);
  will-change: filter;
}

/* 평소 상태 (부드러운 전환을 위해 추가) */

.navbar {
  transition: background-color 0.3s ease-in-out;
}

/* 스크롤 내렸을 때 적용될 스타일 */

.navbar-scrolled {
  background-color: #000000aa !important;
  border-bottom: 1px solid #00f2ffa0;
  box-shadow: 0 4px 15px rgba(0, 242, 255, 0.2);
}

/* ====================================================== */

/* 1. 전체 너비 설정 */

::-webkit-scrollbar {
  width: 10px;
}

/* 2. 스크롤바 뒷배경 (트랙) */

::-webkit-scrollbar-track {
  background: #111111;
}

/* 3. 실제로 움직이는 손잡이 (썸) */

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00f2ff, #004d40);
  border-radius: 10px;
  border: 1px solid #111111;
}

/* 4. 마우스 올렸을 때 효과 */

::-webkit-scrollbar-thumb:hover {
  background: #00f2ffd5;
}

/* ====================================================== */

/* 1. 터널: 화면 밖으로 나간 기차를 숨김 */

.marquee-container {
  width: 100%;
  overflow: hidden;
  background: #eee;
  padding: 20px 0;
}

/* 2. 레일: 이미지들을 옆으로 일렬로 세움 */

.marquee-track {
  display: flex;
  width: max-content;
}

/* 3. 게임 이미지들: 크기 통일 및 간격 조정 */

.game-img {
  height: 200px;
  width: auto;
  margin-right: 40px;
  flex-shrink: 0;
  border-radius: 10px;
}

/* ---- */

/* 1. 기차 한 칸 (카드) 디자인 */

.game-card {
  width: 280px;
  margin-right: 20px;
  flex-shrink: 0;
  background-color: transparent;
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
  /*border: 1px solid #333;*/
  /*padding-bottom: 5px;*/
}

/* 2. 카드 안의 이미지 */

.game-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 5px;
}

/* 3. 카드 안의 텍스트 */

.game-card h4 {
  color: #fff;
  font-size: 0.5rem;
  /*margin-bottom: 0px;*/
}

/* 4. 확대보기 버튼 (Link) */

.game-card .btn-zoom {
  display: inline-block;
  padding: 8px 20px;
  background: transparent;
  border: 1px solid #00f2ff;
  color: #00f2ff;
  border-radius: 20px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.3s;
}

.game-card .btn-zoom:hover {
  background: #00f2ff;
  color: #000;
}

/* ====================================================== */

.floating-deco {
  pointer-events: none;
}

